<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <title>Boli ale sistemului circulator</title>
</head>
<body>
    <div class="top">
        <div class="dropdown">
            <button class="dropbtn wide">Boli</button><button class="dropbtn mobile">≡</button>
            <div class="dropdown-content">
                <a href="/">Acasa</a>
                <a href="/varice">Varice</a>
                <a href="/arteroscleroza">Arteroscleroza</a>
                <a href="/hipertensiune">Hipertensiunea Arteriala</a>
                <a href="/infarct">Infarctul Miocardic</a>
                <a href="/aritmia">Aritmia</a>
                <a href="/insuficienta">Insuficienta Cardiaca</a>
            </div>
        </div>
        <h1 id="title">Boli ale sistemului circulator</h1>
    </div>
    <div class="content">
        <h1 id="titlu-boli">Accidentul vascular cerebral </h1>
        <div id="nav-bar">
            <div class="links">
                <a href="#1">Simptome</a>
                <a href="#2">Diagnostic</a>
                <a href="#3">Tipuri</a>
                <a href="#4">Factori de risc</a>
                <a href="#5">Complicatii</a>
                <a href="#6">Prevenire</a>
            </div>
            <div class="writing">
                <p>
                    &nbsp&nbsp&nbsp&nbsp Accidentul vascular cerebral (AVC) se produce cand alimentarea unei zone din creier este intrerupta sau redusa, impiedicand tesutul cerebral sa primeasca oxigen si substante nutritive. In acest caz, celulele cerebrale incep sa moara in decurs de cateva minute. AVC-ul reprezinta o urgenta medicala, iar tratamentul imediat este crucial. Interventia timpurie poate reduce afectarea cerebrala si poate preveni alte complicatii. Cu ajutorul tratamentului adecvat, poate fi prevenita totodata si dizabilitatea care s-ar putea instala in urma unui AVC.
                </p>
                <div class="img-flex">
                    <img src="/images/accident.jpg" id="image">
                    <div class="flex-writing">
                        <h3 id="1">Simptome</h3>
                        <p>
                            &nbsp&nbsp&nbsp&nbsp Semnele si simptomele pot fi:
                            <br><br>•	Dificultati de vorbire si de intelegere a ceea ce spun ceilalti.
                            <br>•	Paralizia sau amortirea brusca a fetei, a bratului sau piciorului.
                            <br>•	Tulburari de vedere la unul sau la ambii ochi ori vedere dubla.
                            <br>•	Cefalee brusca, severa, insotita de varsaturi, ameteala si pierderea cunostintei.
                            <br>•	Dificultati de mers, tulburari de echilibru, pierderea coordonarii.
                        </p>
                    </div>
                </div>
                <h3 id="2">Diagnostic</h3>
                <p>
                    &nbsp&nbsp&nbsp&nbsp Actionand rapid, ajuti pacientul cu AVC sa primeasca tratamentul de care are urgent nevoie – acesta are eficienta maxima daca AVC-ul este diagnosticat in aproximativ 3 ore de la debutul simptomelor. Noteaza ora la care au inceput sa se manifeste – aceasta informatie ajuta medicul in alegerea celei mai bune variante de tratament. Daca suspectezi ca cineva sufera un AVC, actioneaza rapid (formula F.A.S.T.) si fa-i urmatorul test:
                    <br><br>F – Face (Fata) – Cere persoanei sa zambeasca. Ti se pare ca fata e asimetrica sau gura e cazuta intr-o parte?
                    <br>A - Arms (Brate) – Cere persoanei sa ridice simultan ambele brate deasupra capului. Unul dintre ele ramane inert sau mai jos decat celalalt?
                    <br>S – Speech (Vorbire) - Cere-i persoanei sa repete o fraza simpla (de exemplu “Cerul este albastru”). Nu poti distinge ce zice sau vorbeste ciudat?
                    <br>T – Time (Timp) – Daca remarci oricare dintre aceste semne, suna IMEDIAT la 112! Pentru ca persoana sa fie transportata cat mai repede la spital, spune-i operatorului ca suspectezi ca aceasta a suferit un accident vascular cerebral si transmite-i ora la care au aparut primele simptome.
                </p>
                <h3 id="3">Tipuri</h3>
                <p>
                    &nbsp&nbsp&nbsp&nbsp Exista doua cauze principale care pot provoca un AVC: o artera blocata (accident ischemic) sau ruperea unui vas de sanage (accident hemoragic). Exista persoane care pot suferi doar o intrerupere temporara a alimentarii cu sange a creierului – acesta se numeste accident ischemic tranzitor (AIT), care nu determina simptome pe termen lung. Tipul de AVC pe care il ai influenteaza tratamentul si recuperarea.
                    <br><br>•	Accidentul ischemic: Majoritatea cazurilor de AVC sunt accidente ischemice. Un accident ischemic se produce cand se blocheaza circulatia sangelui din artera care furnizeaza oxigen catre creier. Cheagurile de sange produc frecvent blocaje care provoaca accidente ischemice.
                    <br>•	Acccidentul hemoragic: Acesta se produce cand o artera cerebrala pierde sange sau se rupe, iar sangele pierdut pune presiune mare pe celulele cerebrale, deteriorandu-le. Hipertensiunea arteriala si anevrismele sunt boli care pot provoca accidente hemoragice. Exista 2 tipuri: hemoragie cerebrala (cea mai frecventa – apare cand o artera cerebrala inunda cu sange tesutul inconjurator) si hemoragie subarahnoidiana (este mai putin frecventa – inseamna sangerare in zona situate intre creier si tesutul subtire care il acopera).
                    <br><br>•	Accidentul ischemic tranzitor (AIT sau mini-AVC): Esre diferit de celelalte doua tipuri majore de AVC, deoarece fluxul sanguin la nivel cerebral este blocat pentru o perioada scurta, de obicei, nu mai mult de 5 minute. Este insa important de stiut ca AIT poate reprezenta un semnal de alarma pentru un viitor AVC. La fel ca orice AVC major, impune interventie medicala imediata. Totodata, nu se poate sti daca simptomele sunt ale unui AVC major sau ale AIT. Intocmai ca la accidentul ischemic, trombii pot produce frecvent AIT-uri. Nu in ultimul rans, peste o treime din persoanele care sufera un AIT si nu primesc tratament vor suferi un AVC major in decurs de 1 an.
                </p>
                <h3 id="4">Factori de risc</h3>
                <p>
                    &nbsp&nbsp&nbsp&nbsp Exista numerosi factori care pot creste riscul de AVC:
                    <br><br>Factori legati de stilul de viata
                    <br><br>•	Obezitatea
                    <br>•	Sedentarismul
                    <br>•	Consumul excesiv de alcool
                    <br>•	Hipertensiune arteriala
                    <br>•	Fumat sau fumat pasiv
                    <br>•	Colesterol crescut
                    <br>•	Diabet
                    <br>•	Boli cardiovasculare
                    <br>•	Istoric familial de AVC
                    <br>•	Infectia cu COVID-19
                    <br>•	Varsta – Persoanele peste 55 de ani au un risc mai crescut decat tinerii
                    <br>•	Genul— Barbatii au un risc mai crescut decat femeile. Femeile varstnice pot suferi AVC si au risc mai mare de deces in comparatie cu barbatii de aceeasi varsta.
                    <br>•	Hormonii — Folosirea pilulelor contraceptive sau a terapiilor hormonale cu estrogen cresc riscul de AVC.
                </p>
                <h3 id="5">Complicatii</h3>
                <p>
                    •	Paralizitie sau pierderea miscarilor musculare
                    <br>•	Dificultati de vorbire sau inghitire
                    <br>•	Pierderea memoriei sau tulburari cognitive
                    <br>•	Tulburari emotionale, depresie
                    <br>•	Durere
                    <br>•	Schimbari in comportament si in capacitatea de a se ingriji singure
                </p>
                <h3 id="6">Prevenire</h3>
                <p>
                    •	Controleaza-ti hipertensiunea arteriala
                    <br>•	Redu cantitatea de grasimi saturate din alimentatie
                    <br>•	Renunta la fumat
                    <br>•	Gestioneaza diabetul
                    <br>•	Mentine-ti greutatea optima
                    <br>•	Adopta o alimentatie bogata in fructe si legume
                    <br>•	Fa miscare regulat
                    <br>•	Consuma alcool cu moderatie sau deloc
                    <br>•	Trateaza apnea obstructive de somn
                </p>
            </div>
        </div>
    </div>
</body>
</html>