<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <title>Boli ale sistemului circulator</title>
</head>
<body>
    <div class="top">
        <div class="dropdown">
            <button class="dropbtn wide">Boli</button><button class="dropbtn mobile">≡</button>
            <div class="dropdown-content">
                <a href="/">Acasa</a>
                <a href="/varice">Varice</a>
                <a href="/arteroscleroza">Arteroscleroza</a>
                <a href="/hipertensiune">Hipertensiunea Arteriala</a>
                <a href="/infarct">Infarct</a>
                <a href="/accident">Accident Vascular</a>
                <a href="/insuficienta">Insuficienta Cardiaca</a>
            </div>
        </div>
        <h1 id="title">Boli ale sistemului circulator</h1>
    </div>
    <div class="content">
        <h1 id="titlu-boli">Aritmia</h1>
        <div id="nav-bar">
            <div class="links">
                <a href="#1">Pulsul</a>
                <a href="#2">Masurarea pulsului</a>
                <a href="#3">Ritmul cardiac</a>
                <a href="#4">Factori</a>
                <a href="#5">Simptome</a>
                <a href="#6">Cauze</a>
                <a href="#7">Diagnostic</a>
            </div>
            <div class="writing">
                <p>
                    &nbsp&nbsp&nbsp&nbsp Aritmia (denumita si disritmie) reprezinta bataile neregulate sau anormal de lente sau rapide ale inimii.
                </p>
                <div class="img-flex">
                    <img src="/images/aritmia 2.png" id="image">
                    <div class="flex-writing">
                        <h3 id="1">Ce este pulsul?</h3>
                        <p>
                            &nbsp&nbsp&nbsp&nbsp Pulsul indica ritmul cardiac sau numarul de batai ale inimii in decurs de un minut. Valorile pulsului variaza de la o persoana la alta. Pulsul este mai scazut cand esti in repaus si creste in timpul activitatii fizice, deoarece organismul are nevoie de mai mult sange oxigenat.
                        </p>
                        <h3 id="2">Cum imi masor pulsul?</h3>
                        <p>
                            &nbsp&nbsp&nbsp&nbsp Simtind pulsul, poti afla cat de repede iti bate inima. Pulsul il poti simti la incheietura mainii sau in zona gatului. Pune doua degete (aratatorul si degetul mijlociu) pe incheietura mainii, chiar sub baza degetului mare.
                        </p>
                    </div>
                </div>
                <p>
                    &nbsp&nbsp&nbsp&nbsp Numara bataile inregistrate in 10 secunde si inmulteste cu 6 pentru a afla pulsul in batai de inima per minut. Un puls normal, la o persoana adulta aflata in repaus, este de aproximativ 60-100 de batai pe minut.
                </p>
                <div class="img-flex">
                    <div class="flex-writing" style="padding-left: 0%;">
                        <h3 id="3">Ritmul cardiac la electrocardiograma (ECG sau EKG)</h3>
                        <p>
                            &nbsp&nbsp&nbsp&nbsp Inima are un sistem care generează impulsuri electrice. Acest sistem declanseaza bataia de inima. Electrocardiograma este un test care nu doare și nu este invaziv utilizat pentru inregistrarea semnalelor electrice ale inimii. Fiecare bataie de inima este reprezentata pe electrocardiograma (EKG sau ECG) sub forma unor linii pe o hartie gradata. Electrocardograma poate evidenția:
                            <br><br>•	Ritm cardiac normal (ritmul sinusal normal) arata faptul ca activitatea electrica a inimii urmeaza cursul normal. Ritmul este regulat, nodal (stabilt de nodul sino-atrial) cu o frecventa de aproximativ 60-100 de batai pe minut.
                            <br>•	Ritm cardiac modificat:                    
                        </p>
                    </div>
                    <img src="/images/aritmia 1.jpg" id="image" style="padding-left: 5%;">
                </div>
                <p>
                    •	Tahicardie: inima bate mai repede (ritm cardiac de peste 100 de batai pe minut)
                    <br>•	Bradicardie: inima bate mai lent (ritm cardiac sub 60 de batai pe minut)
                    <br>•	Aritmii: inima bate neregulat
                </p>
                <h3 id="4">Factori care infuenteaza ritmul cardiac</h3>
                <p>
                    &nbsp&nbsp&nbsp&nbsp Ritmurile cardiace neregulate se pot produce si in cazul unei inimi normale, sanatoase. De exemplu, un atlet antrenat poate să aibă un ritm cardiac atunci cand se afla in repaus de 40-50 de batai pe minut. Printre factorii care influenteaza ritmul cardiac se numara:
                    <br><br>•	Varsta 
                    <br>•	Nivelul de efort fizic 
                    <br>•	Obiceiul de a fuma (nicotina din tigari)
                    <br>•	Temperatura aerului
                    <br>•	Starile emotionale prin care treci (socul, teama sau stresul).
                    <br>•	Medicamente sau diferite substante (cofeina, nicotina, alcoolul, cocaina, aerosolii inhalati, pastilele de slabit sau medicamentele pentru tuse si raceala).
                    <br><br>&nbsp&nbsp&nbsp&nbsp In majoritatea cazurilor, tratarea afectiunii va determina ameliorarea aritmiei. In cazul in care nu se intampla acest lucru, exista numeroase medicamente si investigatii pentru a vindeca sau a controla ritmul cardiac anormal.
                </p>
                <h3 id="5">Simptome</h3>
                <p>
                        •	Palpitatii: Senzatia ca inima bate prea tare, senzatia de fluturare in piept sau ca inima a luat-o la goana
                    <br>•	Senzatia de inima care a luat-o la goana, sau lovituri la nivelul toracelui
                    <br>•	Ameteala sau senzatie de confuzie
                    <br>•	Dificultati in respiratie (dispnee)
                    <br>•	Disconfort la nivelul toracelui
                    <br>•	Transpiratii
                    <br>•	Slabiciune sau oboseala extrema
                </p>
                <div class="img-flex">
                    <img src="/images/aritmia.jpg" id="image">
                    <div class="flex-writing">
                        <h3 id="6">Cauze</h3>
                        <p>
                            •	Boala arteriala coronariana (cunoscuta si sub numele de cardiopatie ischemica (IC))
                            <br>•	Hipertensiune arteriala
                            <br>•	Modificari la nivelul muschiului inimii (cardiomiopatie)
                            <br>•	Disfunctii ale valvelor cardiace
                            <br>•	Dezechilibru electrolitic la nivel sanguin (al sodiului sau al potasiului)
                            <br>•	Traumatism in urma unui infarct de miocard
                            <br>•	Procesul de vindecare dupa o interventie chirurgicala cardiaca
                            <br>•	Alte probleme medicale
                        </p>
                    </div>
                </div>
                <h3 id="7">Diagnostic</h3>
                <p>
                    &nbsp&nbsp&nbsp&nbsp •	Electrocardiograma (EKG sau ECG): Arata imaginea impulsurilor electrice care circula prin muschiul cardiac. EKG-ul este intregistrat pe o hartie gradata, prin folosirea electrozilor (plasturi mici, adezivi) care sunt atasati de piele pe piept, brate si picioare.
                    <br>&nbsp&nbsp&nbsp&nbsp •	Testul mesei inclinate (testul TILT): In timpul acestui test, vei sta intins pe o masa care este gradual inclinata de la orizontala in sus, la diferite unghiuri. Testul masoara cum variaza minut de minut tensiunea arteriala si ritmul cardiac ca raspuns la schimbarea pozitiei si actiunea gravitatiei.
                </p>
            </div>
        </div>
    </div>
</body>
</html>