<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <title>Boli ale sistemului circulator</title>
</head>
<body>
    <div class="top">
        <div class="dropdown">
            <button class="dropbtn wide">Boli</button><button class="dropbtn mobile">≡</button>
            <div class="dropdown-content">
                <a href="/">Acasa</a>
                <a href="/varice">Varice</a>
                <a href="/hipertensiune">Hipertensiunea Arteriala</a>
                <a href="/infarct">Infarctul Miocardic</a>
                <a href="/accident">Accident Vascular</a>
                <a href="/aritmia">Aritmia</a>
                <a href="/insuficienta">Insuficienta Cardiaca</a>
            </div>
        </div>
        <h1 id="title">Boli ale sistemului circulator</h1>
    </div>
    <div class="content">
        <h1 id="titlu-boli">Arterioscleroza si ateroscleroza</h1>
        
        <div id="nav-bar">
            <div class="links">
                <a href="#1">Simptome</a>
                <a href="#2">Cauze</a>
                <a href="#3">Factori de risc</a>
                <a href="#4">Complicatii</a>
                <a href="#5">Prevenire</a>
            </div>
            <div class="writing">
                <img src="/images/ateroscleroza3.jpg" id="image" style=" display: block;margin-left: auto;margin-right: auto;width: 60%;">
                <p>
                    &nbsp&nbsp&nbsp&nbsp Arterioscleroza se produce cand vasele de sange (arterele) care transporta oxigenul si substantele nutritive de la inima catre restul corpului se ingroasa si devin rigide – impiedicand uneori circulatia sangelui catre organe si tesuturi. Arterele sanatoase sunt flexibile si elastice, insa, in timp, peretii arterelor se pot intari, o afectiune cunoscuta si ca ingrosarea arterelor.
                    <br>&nbsp&nbsp&nbsp&nbsp Ateroscleroza este un tip specific de arterioscleroza, insa termeniii sunt uneori interschimbabili. Ateroscleroza se refera la acumularea de grasimi, colesterol si alte substante in interiorul si pe peretii arteriali (placa de aterom), care poate impiedica fluxul sanguin. Placa se poate rupe, favorizand aparitia trombilor (cheaguri de sange). Desi ateroscleroza este frecvent considerata o problema cardiaca, aceasta poate afecta arterele oriunde in organism. 
                </p>
                <div class="img-flex">
                    <img src="/images/ateroscleroza.jpg" id="image">
                    <div class="flex-writing">
                        <h3 id="1">Simptome</h3>
                        <p>
                            &nbsp&nbsp&nbsp&nbsp Ateroscleroza se dezvolta gradual. Ateroscleroza moderata nu da de obicei simptome. Nu dezvolti simptomele aterosclerozei pana cand o artera este foarte ingustata sau trombozata incat nu poate furniza cantitatea adecvata de sange catre organe si tesuturi. Uneori, un tromb poate bloca complet circulatia sangelui sau se poate rupe si declansa un infarct de miocard sau un accident vascular cerebral.
                            <br>Simptomele aterosclerozei moderate spre severe depind de arterele afectate: De exemplu:
                        </p>
                    </div>
                </div>
                <p>
                    <br><br>• Daca ai ateroscleroza la nivelul arterelor cardiace, poti avea simptome precum durerea toracica sau senzatia de presiunea toracica (angina).
                    <br>•	Daca ai ateroscleroza la nivelul arterelor ce duc catre creier, poti avea semne si simptome precum amorteala brusca sau slabiciune a mainilor sau picioarelor, dificultati in vorbire sau vorbire nedeslusita, pierdere temporara a vederii la un ochi, caderea muschilor fetei. 
                    <br>•	Daca ai ateroscleroza la nivelul mainilor sau picioarelor, poti avea simptome ale bolii arteriale periferice, precum durerea de picior la mers 
                    <br>•	Daca ai ateroscleroza la nivelul arterelor care duc catre rinichi, dezvolti hipertensiune arteriala sau insuficienta renala.
                </p>
                <div class="img-flex">
                    <div class="flex-writing" style="padding-left: 0%;">
                        <h3 id="2">Cauze</h3>
                        <p>
                            &nbsp&nbsp&nbsp&nbsp Ateroscleroza este o boala lenta, progresiva, care poate debuta in copilarie. Desi nu se cunoaste cauza exacta, ateroscleroza poate debuta prin afectarea sau traumatismul la nivelul stratului intern al unei artere.
                            <br>&nbsp&nbsp&nbsp&nbsp Afectarea poate fi provocata de:
                            <br><br>•	Hipertensiune arteriala
                            <br>•	Colesterol crescut
                            <br>•	Trigliceride mari
                            <br>•	Fumat
                            <br>•	Rezistenta la insulina, obezitate sau diabet
                            <br>•	Inflamatie determinata de boli precum artrita, lupus sau infectie ori inflamatie de cauza necunoscuta
                        </p>
                    </div>
                    <img src="/images/arteroscleroza2.jfif" id="image" style="padding-left: 5%;">
                </div>
                <p>
                    &nbsp&nbsp&nbsp&nbsp Dupa afectarea peretelui intern al arterei, celulele sangelui si alte substante se acumuleaza la locul traumatismului si creeaza peretele intern al arterei.
                    <br>&nbsp&nbsp&nbsp&nbsp In timp, depozitele grase (placa) de colesterol si alte produse celulare se acumuleaza si ele la locul respectiv si se intaresc,
                    ingustand arterele. Organele si tesuturile legate de arterele blocate nu mai primesc suficient sange pentru a functiona optim. 
                    In final, bucatile de depozite grase se pot rupe si intra in fluxul sanguin. De asemenea, membrana subtire a placii se poate 
                    rupe, raspandind colesterol si alte substante in circulatia sanguina, ceea ce poate provoca formarea unui tromb, care poate 
                    bloca circulatia sangelui catre o anumita zona din corp, asa cum se intampla cand fluxul sanguin blocat catre inima provoaca 
                    infarct de miocard. Un tromb poate, de asemenea, sa ajunga in alte parti ale corpului, blocand circulatia catre un alt organ.
                </p>
                <div class="img-flex">
                    <img src="/images/arteroscleroza1.jpg" id="image">
                    <div class="flex-writing">
                        <h3 id="3">Factori de risc</h3>
                        <p>
                            &nbsp&nbsp&nbsp&nbsp Rigidizarea arterelor se produce in timp. Pe langa inaintarea in varsta, factorii care cresc riscul aterosclerozei sunt:
                            <br><br>•	Hipertensiunea arteriala
                            <br>•	Colesterolul crescut
                            <br>•	Diabetul
                            <br>•	Obezitatea
                            <br>•	Fumatul
                            <br>•	Istoricul familial de boala cardiaca precoce
                            <br>•	Sedentarismul
                            <br>•	Alimentatia nesanatoasa
                        </p>
                    </div>
                </div>
                <h3 id="4">Complicatii</h3>
                <p>
                    &nbsp&nbsp&nbsp&nbsp Complicatiile aterosclerozei depind de arterele care sunt blocate. De exemplu:
                    <br><br>•	Boala arteriala coronariana. Cand ateroscleroza ingusteaza arterele din apropierea inimii, poti dezvolta boala arteriala coronariana, care poate sa provoace durere toracica (angina), infarct de miocard sau insuficienta cardiaca.
                    <br>•	Boala arterelor carotide. Cand ateroscleroza ingusteaza arterele din apropierea creierului, poti dezvolta boala arterelor carotide, care poate sa provoace accidentul ischemic tranzitoriu (AIT) sau accidentul vascular cerebral (AVC).
                    <br>•	Boala arteriala periferica. Cand ateroscleroza ingusteaza arterele de la nivelul bratelor sau picioarelor, poti dezvolta probleme de circulatie in aceste zone. Acest lucru te face mai sensibil la caldura si la vreme rece, crescand riscul de arsuri sau degeraturi. 
                    <br>•	Anevrism. Ateroscleroza poate, de asemeneam sa determine anevrism, o complicatie severa care se poate produce oriunde in organism. Un anevrism este o umflatura pe peretele unei artere. Majoritatea persoanelor cu anevrism nu prezinta simptome. Daca anevrismul se rupe, te poti confrunta cu hemoragie care iti ameninta viata. Desi acesta este de obicei un eveniment brusc, este posibila si o hemoragie lenta. 
                    <br>•	Boala renala cronica. Ateroscleroza poate determina ingustarea arterelor care duc catre rinichi, impiedicand sangele oxigenat sa ajunga la ei. In timp, acest lucru poate afecta functionarea rinichilor, impiedicand reziduurilor sa iasa din organism.
                </p>
                <h3 id="5">Prevenire</h3>
                <p>
                    &nbsp&nbsp&nbsp&nbspAceleasi modificari pentru un stil de viata sanatos care sunt recomandate pentru tratarea aterosclerozei sunt cele care ajuta in prevenirea acesteia. Modificarile sunt:
                    <br><br>•	Renuntarea la fumat
                    <br>•	Adoptarea unei alimentatii sanatoase
                    <br>•	Efectuare de miscare in mod regulat
                    <br>•	Mentinerea unei greutati optime.
                </p>
            </div>
        </div>
    </div>
</body>
</html>