<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <title>Boli ale sistemului circulator</title>
</head>
<body>
    <div class="top">
        <div class="dropdown">
            <button class="dropbtn wide">Boli</button><button class="dropbtn mobile">≡</button>
            <div class="dropdown-content">
                <a href="/">Acasa</a>
                <a href="/varice">Varice</a>
                <a href="/arteroscleroza">Arteroscleroza</a>
                <a href="/infarct">Infarctul Miocardic</a>
                <a href="/accident">Accident Vascular</a>
                <a href="/aritmia">Aritmia</a>
                <a href="insuficienta">Insuficienta Cardiaca</a>
            </div>
        </div>
        <h1 id="title">Boli ale sistemului circulator</h1>
    </div>
    <div class="content">
        <h1 id="titlu-boli">Hipertensiunea arteriala</h1>
        <div id="nav-bar">
            <div class="links">
                <a href="#1">Simptome</a>
                <a href="#2">Factori de risc</a>
                <a href="#3">Diagnostic</a>
                <a href="#4">Tratament</a>
            </div>
            <div class="writing">
                <p>
                    &nbsp&nbsp&nbsp&nbsp Hipertensiune arteriala (HTA) reprezinta un factor de risc cardiovascular major cu incidenta in continua crestere si se defineste drept cresterea valorilor tensionale >140/90 mmHg.
                </p>
                <div class="img-flex">
                    <img src="/images/hipertensiune.jpg" id="image">
                    <div class="flex-writing">
                        <h3 id="1">Simptome</h3>
                        <p>
                            <br>•	cefalee occipitala (durere de cap in zona occipitala)
                            <br>•	dispnee (respiratie cu dificultate)
                            <br>•	adinamie (scaderea accentuata a fortei musculare)
                            <br>•	vertij (ameteala)
                            <br>•	durere retrosternala (durerea in piept)
                            <br>•	amorteala si greata
                        </p>
                    </div>
                </div>
                <h3 id="2">Factori de risc</h3>
                <p>
                    •	Valorile mari ale tensiunii arteriale sistolice si diastolice
                    <br>•	varsta (barbati > 55 ani si femei > 65 ani)
                    <br>•	fumatul
                    <br>•	dislipidemia: colesterol >190 mg/dl sau trigliceride > 150 mg/dl
                    <br>•	glicemia > 102-125 mg/dl
                    <br>•	alterarea tolerantei la glucoza
                    <br>•	obezitatea abdominala: circumferinta taliei la barbati > 102 cm si la femei >88 cm).
                </p>
                <h3 id="3">Diagnostic</h3>
                <p>
                    &nbsp&nbsp&nbsp&nbsp Masurarea valorilor tensiunii arteriale impune masuratori repetate ( cel putin 2 masuratori/vizita) pe perioada lungi de timp (cel putin 2-3 vizite la interval de 2-3 saptamani), Atunci cand masurarea tensiunii arteriale este sever crescuta, diagnosticul se poate pune numai pe o masuratoare .
                    <br>&nbsp&nbsp&nbsp&nbsp Monitorizarea Holter a valorilor TA (monitorizare automata pe 24 h) permite o verificare mai buna a valorilor tensionale in functie de ritmul diurn-nocturn si activitatile pacientului .
                </p>
                <h3 id="4">Tratament</h3>
                <p>
                    &nbsp&nbsp&nbsp&nbsp Modificarea stilului de viata poate include:
                    <br><br>•	Oprirea fumatului- duce la scaderea riscurilor cardiovasculare (infarct de miocard si accident vascular cerebral); se poate incerca terapia de inlocuire nicotinica cu bupropion sau varenicline.
                    <br>•	Scaderea ponderala- duce la reducerea valorilor tensionale.
                    <br>•	Evitarea consumului excesiv de alcool din cauza efectului negativ asupra medicatiei antihipertensive - reducerea eficientei acesteia- si se recomanda o limitare a consumului de 10-20 g etanol /zi la femei si 20-30g/zi la barbati.
                    <br>•	Scaderea aportului de sare cu o recomandare de consum zilnic de maxim 5 g.
                    <br>•	Exercitiul fizic in limita tolerantei .Se recomanda 30-45 minute zilnic de tip alergare usoara, mers in pas alert, inot. Este necesara o evaluarea prealabila a pacientului din punct de vedere a tolerantei la efort.
                    <br>•	Reducerea aportului de grasimi si prajeli in alimentatie si recomandarea unei diete bogate in fructe si legume (300g/zi).
                </p>
            </div>
        </div>
    </div>
</body>
</html>