<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <title>Boli ale sistemului circulator</title>
</head>
<body>
    <div class="top">
        <div class="dropdown">
            <button class="dropbtn wide">Boli</button><button class="dropbtn mobile">≡</button>
            <div class="dropdown-content">
                <a href="/varice">Varice</a>
                <a href="/arteroscleroza">Arteroscleroza</a>
                <a href="/hipertensiune">Hipertensiunea Arteriala</a>
                <a href="/infarct">Infarctul Miocardic</a>
                <a href="/accident">Accident Vascular</a>
                <a href="/aritmia">Aritmia</a>
                <a href="/insuficienta">Insuficienta Cardiaca</a>
            </div>
        </div>
        <h1 id="title">Boli ale sistemului circulator</h1>
    </div>
    <div class="content-home">
        <p>&nbsp&nbsp&nbsp&nbsp Sistemul circulator este format din inima si vase de sange.</p>
        <p>
            &nbsp&nbsp&nbsp&nbsp Inima este localizata in cutia toracica, intre cei doi plamani, avand forma de para cu varful spre stanga. 
            Ea are marimea unui pumn, cantarind aproximativ 300 de grame. Inima este un saculet cu pereti dubli. 
            Prima foita este epicardul, al doilea, miocardul, si al treilea este endocadul care captuseste inima pe interior.
        </p>
        <div class="img-flex">
            <img src="/images/inima.jfif" id="image">
            <div class="flex-writing">
                <h3>Marea circulatie</h3>
                <p>&nbsp&nbsp&nbsp&nbsp Din ventriculul stang pleaca sange oxigenat spre artera aorta. Sangele ajunge la tesuturi, 
                    oxigenul servind arderilor celulare. Sangele neoxigenat isi continua drumul prin venele cave pana in atriculul drept.</p>
                <h3>Mica circulatie</h3>
                <p>&nbsp&nbsp&nbsp&nbsp Din ventriculul drept pleaca sange neoxigenat prin artera pulmonara pana la plamani. 
                    Din plamani pleaca prin 4 vene pulmonare sange oxigenat in atriculul stang.</p>
            </div>
        </div>
        <div class="videos">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OM-AeVyW1kk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FNsdIuxsrOA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
</body>
</html>