<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <title>Boli ale sistemului circulator</title>
</head>
<body>
    <div class="top">
        <div class="dropdown">
            <button class="dropbtn wide">Boli</button><button class="dropbtn mobile">≡</button>
            <div class="dropdown-content">
                <a href="/">Acasa</a>
                <a href="/varice">Varice</a>
                <a href="/arteroscleroza">Arteroscleroza</a>
                <a href="/hipertensiune">Hipertensiunea Arteriala</a>
                <a href="/accident">Accident Vascular</a>
                <a href="/aritmia">Aritmia</a>
                <a href="/insuficienta">Insuficienta Cardiaca</a>
            </div>
        </div>
        <h1 id="title">Boli ale sistemului circulator</h1>
    </div>
    <div class="content">
        <h1 id="titlu-boli">Infarctul miocardic acut</h1>
        <div id="nav-bar">
            <div class="links">
                <a href="#1">Cauze</a>
                <a href="#2">Factori de risc</a>
                <a href="#3">Manisfestari</a>
                <a href="#4">Diagnostic</a>
                <a href="#5">Tratament</a>
            </div>
            <div class="writing">
                <p>
                    &nbsp&nbsp&nbsp&nbsp Infarctul miocardic acut mai poarta denumirea de sindrom coronarian acut si reprezinta o urgenta medicala datorata unei ischemii (intrerupere a fluxului sangvin) cardiace, urmata de necroza si pierderea in diferite grade a functie miocardului, care poate duce in anumite situatii la deces.
                </p>
                <div class="img-flex">
                    <img src="/images/infarct1.jpg" id="image">
                    <div class="flex-writing">
                        <h3 id="1">Cauze</h3>
                        <p>
                            &nbsp&nbsp&nbsp&nbsp Cea mai frecventa cauza a infarctului miocardic acut este reprezentata de catre obstructia arterelor coronare (vasele inimii) de cauza aterosclerotica (grasimi depuse la interiorul vaselor de sange) care determina stenoza progresiva a vaselor pana la oprirea brusca a fluxului sangvin la nivel cardiac. Alte cauze care duc la aparitia sindromului coronarian acut sunt reprezentate de catre:
                            <br><br>•	Embolii ale arterelor coronare: endocardita bacteriana, prolaps de valva mitrala, tromb (cheag de sange) atrial sau ventricular stang;
                            <br>•	Bolile autoimune;
                            <br>•	Traumatisme;
                            <br>•	Defectele congenitale cardiace;
                            <br>•	Spasmul arterelor coronare libere.
                        </p>
                    </div>
                </div>
                <h3 id="2">Factori de risc</h3>
                <p>
                    <br>•	Ateroscleroza favorizata de aportul alimentar crescut al colesterolului;
                    <br>•	Diabetul zaharat;
                    <br>•	Obezitatea;
                    <br>•	Hipertensiunea arteriala;
                    <br>•	Fumatul;
                    <br>•	Varsta;
                    <br>•	Predispozitia genetica.
                </p>
                <h3 id="3">Manisfestari</h3>
                <p>
                    &nbsp&nbsp&nbsp&nbsp Simptomele infarctului miocardic acut sunt reprezentate de catre:
                    <br><br>•	Angina pectorala (durerea in piept resimtita sub forma de gheara) care poate iradia in omoplat, la nivelul membrului stang sau submandibular; in anumite situatii infarctul poate fi insotit de durere in epigastru fapt ce ingreuneaza stabilirea diagnosticului precoce;
                    <br>•	Dispnee (lipsa de aer);
                    <br>•	Simptome digestive-greata, varsaturi;
                    <br>•	Transpiratii, paloare tegumentara;
                    <br>•	Anxietate;
                    <br>•	Tahicardie;
                    <br>•	Stare de ameteala, sincopa (pierderea constientei).
                </p>
                <h3 id="4">Diagnostic</h3>
                <p>
                    &nbsp&nbsp&nbsp&nbsp Diagnosticul infarctului miocardic acut se face in regim de urgenta pe baza examenului fizic al pacientului si al unui examen EKG. 
                </p>
                <div class="img-flex">
                    <img src="/images/infarct2.jpg" id="image">
                    <div class="flex-writing">
                        <p>
                            &nbsp&nbsp&nbsp&nbsp Infarctul miocardic la femei:
                            <br><br>&nbsp&nbsp&nbsp&nbsp Infarctul miocardic este uneori mai greu de diagnosticat la femei decat la barabati, potrivit unui studiu efectuat de SEC. Studiul a aratat ca femeile asteapta, deobicei cu 12 ore mai mult decat barbatii pentru a cauta ajutor medical. Studiul a examinat diferentele dintre barbatii si femeii in ceea ce priveste diagnosticarea infarctului miocardic, care au fost tratati in perioada 2008-2019. Cercetatorii au analizat diagnosticul initial care se bazeaza pe istoricul pacientului, examinarea fizica si o electrocardiograma EKG. Dintr-un total de 41.828 de pacienti admisi cu dureri in piept 42% erau femei, varsta medie a acestora era de 65 de ani, iar cea a barbatiilor de 59. Femeile s-au prezentat dupa o perioada mult mai luna de cat barbatii la spital , acest lucru  a aprut la 41% dintre femei comparat cu 37% pentru barbati. 
                        </p>
                    </div>
                </div>
                <p>
                    &nbsp&nbsp&nbsp&nbsp La diagnosticul initial, infarctul miocardic a fost considerat a fi cauza principala a durerilor in piept mai mult la barbati decat la femei. Factori de risc precum hipertensiunea sau fumatul cresc posibilitatea unui infarct miocardic, dar s-a observat ca femeilie, desi prezentau totii facorii de risc, sunt in continuare mai putin probabile sa faca atac de cord. 
                    <br>&nbsp&nbsp&nbsp&nbsp Pentru femei doar 5% din cazuri au fost diagnosticate gresit, in timp ce la barbati doar 3%. Atacul de cord este considerat in mod traditional o afectiune de care sufera in principal barbatii si de aceea acesta a fost mai putin studiat, mai putin diagnosticat si mai putin tratat la femei, care atribuie de obicei simptomele stresului sau anxietatii.
                </p>
                <a id="articol" style="color: #ed0000;" href="https://www.escardio.org/The-ESC/Press-Office/Press-releases/Heart-attack-diagnosis-missed-in-women-more-often-than-in-men">Citeste mai mult</a>
                <h3 id="5">Tratament</h3>
                <p>
                    &nbsp&nbsp&nbsp&nbsp Tratamentul non farmacologic al sindromului coronarian acut mai cuprinde pe langa angioplastie, by pass ul coronarian prin care se realizeaza o deviere a circulatiei coronariene cu ajutorul unui autotransplant arterial.
                    <br>&nbsp&nbsp Terapia medicamentoasa in infarctul miocardic acut se realizeaza cu aspirina si trombolitice pentru dizolvarea si prevenirea formarii de noi cheaguri de sange, nitroglicerina pentru dilatarea vaselor de sange.
                </p>
                <div class="videos">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/m0fiHGlqivo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</body>
</html>