<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <title>Boli ale sistemului circulator</title>
</head>
<body>
    <div class="top">
        <div class="dropdown">
            <button class="dropbtn wide">Boli</button><button class="dropbtn mobile">≡</button>
            <div class="dropdown-content">
                <a href="/">Acasa</a>
                <a href="/arteroscleroza">Arteroscleroza</a>
                <a href="/hipertensiune">Hipertensiunea Arteriala</a>
                <a href="/infarct">Infarctul Miocardic</a>
                <a href="/accident">Accident Vascular</a>
                <a href="/aritmia">Aritmia</a>
                <a href="/insuficienta">Insuficienta Cardiaca</a>
            </div>
        </div>
        <h1 id="title">Boli ale sistemului circulator</h1>
    </div>
    <div class="content">
        <h1 id="titlu-boli">Varice</h1>
        <div id="nav-bar">
            <div class="links">
                <a href="#1">Tipuri de varice</a>
                <a href="#2">De ce apar varice</a>
                <a href="#3">Factori generali</a>
                <a href="#4">Manifestari</a>
                <a href="#5">Tratament</a>
                <a href="#6">Recomandari</a>
            </div>
            <div class="writing">
                <p>&nbsp&nbsp&nbsp&nbsp Boala varicoasa (varicele) este o boala cronica caracterizata prin dilatatia permanenta si sinuoasa a venelor membrului inferior in 
                    care se constata staza sangvina si alterarea peretilor venosi. Varicele sau venele varicoase reprezinta manifestarea locala a bolii 
                    varicoase - o afectiune generala caracterizata printr-un proces degenerativ al peretelui venos.
                </p>
                <div class="img-flex">
                    <img src="/images/varice1.jpg" id="image">
                    <div class="flex-writing">
                        <h3 id="1">Tipuri de varice</h3>
                        <p>&nbsp&nbsp&nbsp&nbsp Varicele se clasifica in doua categorii:<br><br>
                             •	Varice primitive - au localizari diferite (hemoroizi ) si nu prezinta o cauza aparenta<br>
                             •	Varice secundare - au o cauza binecunoscuta si reprezinta un simptom in cadrul altor afectiuni. La randul lor, se impart in doua grupe: congenitale, localizate mai ales in regiunea cervicala si la membrele toracice; dobandite, au localizari diverse (cardice, hemoroizi)
                            <br><br>&nbsp&nbsp&nbsp&nbsp Varicele sunt vene largi, proeminente, palpabile si vizibile la suprafata pielii, localizate la nivelul coapsei si al gambei.<br>
                        </p>
                    </div>
                </div>
                <div class="img-flex">
                    <div class="flex-writing" style="padding-left: 0%;">
                        <h3 id="2">De ce apar varicele?</h3>
                        <p>&nbsp&nbsp&nbsp&nbsp Frecventa bolii varicoase este destul de mare la ambele sexe, dar predomina la femei (60%) fata de barbati (40 %).  De obicei, varicele apar dupa pubertate, frecventa lor creste cu varsta (15-30% dupa 25 de ani) si ajung la maximum intre 40-60 de ani, fiind mai frecvente in unele zone geografice (tarile nordice si Europa Centrala).
                            <br><br>•	Slabirea structurii peretelui venos
                            <br>•	Absenta valvelor venoase de la nastere
                            <br>•	Coagularea sangelui in venele (tromboza venoasa)
                        </p>
                    </div>
                    <img src="/images/varice.jpg" id="image" style="padding-left: 5%;">
                </div>
                <p>
                    &nbsp&nbsp&nbsp&nbsp Indiferent de cauze, valvele venoase nefunctionale fac ca sangele sa stagneze la nivelul picioarelor, 
                    conducand astfel la cresterea presiunii in venele picioarelor.Aceasta presiune crescuta in venele piciorului este responsabila de marirea venelor, iar, in timp, duce la aparitia complicatiilor bolii varicoase: durere, 
                    umflarea picioarelor, modificarea pielii la nivelul gambei, sangerare, tromboza si aparitia ulcerului varicos.
                </p>
                <h3 id="3">Factori generali care conduc la aparitia varicelor </h3>
                <p>
                    <br>•	Statiunea bipeda (factor antropologic ) care ingreuneaza intoarcerea venoasa din etajul inferior spre corp, favorizand staza
                    <br>•	Ereditatea (factorul genetic) (intre 80-100%) consta in  predispozitia transmisa descendentilor fata de aceasta boala
                    <br>•	Tipul constitutional, care favorizeaza aparitia varicelor, este reprezentat de indivizi longilini cu hipertensiune arteriala care favorizeaza staza
                    <br>•	Tulburari endocrine (factor endocrin) ca atare, sau produse in urma unor anumite stari (pubertate, sarcina, menopauza)
                    <br>•	Obezitate
                    <br><br>Cauzele varicelor primitive care tin de mediu sunt rezultatul unor factori exogeni, fizici si sociali:
                    <br><br>•	Modul de viata si conditiile de munca, mai ales in medii supraincalzite (fochisti)
                    <br>•	Anumite profesii care implica ortostatismul prelungit (frizeri, topografi, mineri, barmani, comercianti, stomatologi) favorizand staza
                    <br>•	Unele sporturi de performanta care fac sa creasca presiunea abdominala  ( halterofili, ciclism, maraton, fotbal)
                    <br>•	Alimentatie saraca in vitamine si proteine 
                    <br><br>• Antecedentele varicoase se intalnesc in 68% din cazuri.
                    <br>• Sarcina accelereaza aparitia varicelor si evolutia lor la 45% din femeile varicoase. Varicele apar dupa prima sarcina la 33,7% din femei, iar dupa a doua sarcina la 11,02%. 
                    <br>• Traumatismele repetate. Un grup de persoane unde varicele sunt frecvente intalnite este cel al sportivilor unde 85% fac varice datorita traumatismelor, cu rupturi spontane ale venelor in cursul efortului sau deteriorarii perforantelor. Se intalnesc varice in fotbal, volei, halterofili, canoe, rugby, judo, karate etc. 
                    <br>• Varicele la tineri sunt favorizate de sedentarism si studiul prelungit la masa de scris. Ele apar mai rar la copiii care se joaca mai multe ore pe zi in aer liber, la cei care practica diferite sporturi.
                    <br>• Obezitatea agraveaza evolutia varicelor si creste frecventa complicatiilor.
                </p>
                <div class="img-flex">
                    <img src="/images/varice2.jpg" id="image">
                    <div class="flex-writing">
                        <h3 id="4">Cum se manifesta boala varicoasa?</h3>
                        <p>
                            <br><br>&nbsp&nbsp&nbsp&nbsp In marea majoritate a cazurilor sigurul discomfort al varicelor este de ordin estetic, iar tratamentul in acest caz este cosmetic.
                            <br>&nbsp&nbsp&nbsp&nbsp Frecvent, apar urmatoarele semne si simptome:
                            <br><br>•	Umflarea gleznei si a gambei
                            <br>•	Senzatia de greutate, neliniste, oboseala
                            <br>•	Durere
                            <br>•	Crampe
                            <br>•	Mancarimi la nivelul picioarelor
                        </p>
                    </div>
                </div>
                <p>
                    &nbsp&nbsp&nbsp&nbsp In cazurile severe, apar ingrosarea si decolorarea pielii picioarelor, eczemele si, in ultima instanta, ulcerul varicos a carui vindecare e dificila si lenta.
                </p>
                <h3 id="5">Tratamentul varicelor</h3>
                <p>
                    <br>&nbsp&nbsp&nbsp&nbsp Obiectivul tratamentului bolii varicoase este reducerea simptomatologiei si prevenirea complicatiilor. Pentru unii pacienti, scopul poate fi acela de imbunatatire a aspectului piciorului.
                    <br>&nbsp&nbsp&nbsp&nbsp In functie de marimea venelor, localizarea lor, simptomatologie si alte boli asociate, tratamentul varicelor poate fi conservator, medicamentos, minim- invaziv, chirugie clasica, mixt.
                    <br>&nbsp&nbsp&nbsp&nbsp Pentru a controla boala si a nu se inrautati se recomanda:
                    <br><br>•	Exercitii fizice – mersul pe jos, cu bicicleta sau innotul se recomanda in cazul bolii varicoase
                    <br>•	Purtarea de ciorapi elastici compresivi – acestia imbunatatesc circulatia si sunt principalul tratament pentru boala varicoasa simptomatica.
                    <br>•	Mentinerea membrelor inferioare la orizontala sau ridicate peste acest nivel la intervale regulate – aceasta ajuta la circulatia sangelui si impiedica acumularea acestuia la nivelul venelor din membrele inferioare (staza venoasa).
                    <br>•	Evitarea perioadelor indelungate de stat pe scaun sau in picioare – aceste pozitii, mentinute timp indelungat adauga un stres suplimentar venelor membrelor inferioare.
                </p>
                <h3 id="6">Recomandari</h3>
                <p>
                    &nbsp&nbsp&nbsp&nbsp Fiti activi (contractia muschilor piciorului ajuta la circulatia sangelui), insa evitati eforturile fizice foarte intense
                    <br><br>•	Mentineti greutatea in limite normale
                    <br>•	Evitati sa stai perioade indelungate in picioare sau pe scaun
                    <br>•	Purtati ciorapi elastici daca v-au fost prescrisi
                    <br>•	Controlati-va tensiunea arteriala                  
                </p>
            </div>
        </div>
    </div>
</body>
</html>